@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html {
  overflow-x: clip;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: white;
  color: var(--foreground);

  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: clip;
  width: 100%;

  /* 스크롤바 숨김 */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@layer utilities {

  /* 크롬, 사파리, 오페라, 엣지용 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 파이어폭스, IE용 */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
